#splitter-td, .splitter-td {
	border-color: #161719;
	background: #495057;
}
#misc-splitter-td {
	background: #505050;
}
#main #editor-td {
	background-color: #222222;
	color: #C0C0C0;
}
#game-td .chrome-tabs input,
#game-td .chrome-tabs select {
	color: white;
	border-color: #555;
}
#game-td .chrome-tabs input[type="button"] {
	background: #373737;
}
#game-td .chrome-tabs input[type="button"]:hover {
	background: #505050;
}
#game-td .chrome-tabs select {
	background-color: #373737;
	background-position: center right 6px;
	background-image: url(data:image/bmp;base64,Qk1mAAAAAAAAADYAAAAoAAAABQAAAAMAAAABABgAAAAAAAAAAADEDgAAxA4AAAAAAAAAAAAANzc3Nzc3////Nzc3Nzc3/zc3N////////////zc3N///////////////////////);
}
.project-name {
	color: white;
	text-shadow: none;
}
.chrome-tabs .chrome-tab:not(.chrome-tab-current):hover .chrome-tab-background > svg .chrome-tab-background {
	fill: #444;
}
/* */
.treeview {
	background: #222222;
	color: #D0D0D0;
}
.treeview .header:not(:active):hover, .treeview .header:not(:active):hover > span,
.treeview .item:not(:active):hover, .treeview .item:not(:active):hover > span {
	background: #495057;
}
.treeview .dir .header, .treeview .item, .treeview .items {
	border-left-color: #495057;
}
.treeview .dir > .header:before, .treeview .item:before {
	background-image: url(tree.png);
	background-size: auto 100%;
}

/* */
.popout-window {
	background-color: rgba(0, 0, 0, 0.8);
	border-color: #495057;
	color: #c0c0c0;
}
.popout-window fieldset {
	border: 1px solid #495057;
}
.popout-window a {
	color: #FFB871;
}
.popout-window input[type="text"],
.popout-window select {
	border: 1px solid #495057;
	background: #222;
	color: white;
}

/* gutter */
#main .ace_gutter,
#main .ace_status-bar {
	background-color: #2B343B;
	color: #40C3F4;
	border-color: #495057;
}
#main .ace_status-bar {
	color: #a0a5a9;
}
#main #ace_status-hint, #main .ace_status-bar .context-pre {
	border-color: #495057;
}
#main #ace_status-hint .argument.current {
	color: white;
}
#main .ace_gutter-active-line {
	background-color: #345;
}
#main .ace_marker-layer .ace_selection,
#main .ace_marker-layer .ace_selected-word {
	background-color: rgba(207, 239, 255, 0.37);
	border-radius: 0;
}
#main .ace_marker-layer .ace_selected-word {
	border: none;
}
/* */
#main .ace_gutter-define:not(:first-child) {
	box-shadow: 0 1px 0px #495057 inset;
}
#main .ace-tm .ace_line:not(:first-child) .ace_preproc.ace_define::after,
#main .ace-tm .ace_line:not(:first-child) .ace_preproc.ace_section::after,
#main .ace-tm .ace_line:not(:first-child) .ace_preproc.ace_event::after {
	background-color: #495057;
}

/* */
#main .ace-tm {
	background-color: #222222;
	color: #C0C0C0;
}
#main .ace-tm .ace_invisible {
	color: #777;
}
#main .ace-tm .ace_print-margin {
	background-color: #495057;
}
#main .ace_active-line {
	background: rgba(73, 80, 97, 0.4);
}
#main .ace_cursor {
	color: #C0C0C0;
	border-left-width: 1px;
}
#main .ace_indent-guide {
background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYHB3d/8PAAOIAdULw8qMAAAAAElFTkSuQmCC) right repeat-y;
}
#main .ace_fold {
	background-color: #7AA6DA;
	border-color: #DEDEDE;
}
/* */
#app .ace-tm .ace_comment,
#app .ace-tm .ace_eventtext {
	color: #5B995B;
}
#app .ace-tm .ace_comment.ace_link {
	color: white;
}
#app .ace-tm .ace_regionname,
#app .ace-tm .ace_sectionname,
#app .ace-tm .ace_momentname,
#app .ace-tm .ace_scriptname,
#app .ace-tm .ace_eventkeyname,
#app .ace-tm .ace_eventname {
	color: #77BB5B;
}
#app .ace-tm .ace_localfield {
	color: #B2B1FF;
}
#app .ace-tm .ace_field {
	color: #CC9FFF;
}
#app .ace-tm .ace_asset,
#app .ace-tm .ace_macro,
#app .ace-tm .ace_macroname,
#app .ace-tm .ace_enum,
#app .ace-tm .ace_enumfield,
#app .ace-tm .ace_namespace,
#app .ace-tm .ace_constant {
	color: #FF8080;
}
#app .ace-tm .ace_globalvar,
#app .ace-tm .ace_globalfield {
	color: #FF7EFF;
}
#app .ace-tm .ace_variable {
	color: #58E55A;
}
#app .ace-tm .ace_local,
#app .ace-tm .ace_sublocal,
#app .ace-tm .ace_flowlabel {
	color: #FFF899;
}

#app .ace-tm .ace_keyword,
#app .ace-tm .ace_type,
#app .ace-tm .ace_curly.ace_paren,
#app .ace-tm .ace_function,
#app .ace-tm .ace_extfunction,
#app .ace-tm .ace_extmacro,
#app .ace-tm .ace_script,
#app .ace-tm .ace_quasi.ace_paren {
	color: #FFB871;
}
#app .ace-tm .ace_preproc {
	/*color: rgb(0, 120, 170);*/
	/*color: #7A81A9;*/
	color: #A7B;
}
#app .ace-tm .ace_numeric,
#app .ace-tm .ace_momenttime {
	color: #FF8080;
}
#app .ace-tm .ace_string {
	color: #FCF320;
}

/** */
.ace-tm .ace_md-escape {
	color: #FFF037;
}
.ace-tm .ace_md-section,
.ace-tm .ace_md-section-start,
.ace-tm .ace_md-section-end {
	color: #FF8080;
}
.ace-tm .ace_md-tt {
	color: white;
}
.ace-tm .ace_md-pre,
.ace-tm .ace_md-pre-start,
.ace-tm .ace_md-pre-end {
	color: white;
}
.ace-tm .ace_md-url {
	color: #FFB871;
}
.ace-tm .ace_md-href {
	color: white;
}

#app .ace_editor.ace_autocomplete, .ace_tooltip {
	background: #1F1F1F;
	color: #c0c0c0;
	border-color: #495057;
}
#app .ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
	background: #495057;
}
.ace_editor.ace_autocomplete .ace_completion-highlight {
	color: #69f;
}
#main .ace_search {
	background: #505050;
	color: #d0d0d0;
	border-color: rgba(0, 0, 0, 0.5);
}
#main .ace_search .ace_button {
	color: white;
}
#main .ace_search .ace_button:hover {
	background-color: #606060;
}
#main .ace_search .ace_searchbtn_close {
	color: white;
}
/* */
#main .ace_editor > .ace_scroller:not([style*="right: 0"]) {
	right: 12px !important;
}
#main .ace_editor > .ace_scroller:not([style*="bottom: 0"]) {
	bottom: 12px !important;
}
#main .ace_editor .ace_scrollbar-h {
	right: 12px !important;
}
#main .ace_editor .ace_scrollbar-v {
	bottom: 12px !important;
}
/* */
.system-button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.system-button:active {
	background-color: rgba(255, 255, 255, 0.2);
}
.system-button.close svg polygon,
.system-button.minimize svg rect,
.system-button.preferences svg rect {
	fill: white;
}
.system-button.maximize svg rect {
	stroke: white;
}
/* */
::-webkit-scrollbar {
	background: #000;
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-thumb {
	background-color: #555555;
	border-radius: 6px;
	border: 2px solid black;
	min-height: 40px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #777;
}
::-webkit-scrollbar-corner {
    background: #000;
}
::-webkit-scrollbar-track {
	background-color:#000;
}
#misc-select {
	background: #111;
	color: #ccc;
}
