/* Title Bar */

.project-name > .system-buttons {
    right: initial;
    left: 0;
}

.system-button.preferences {
    right: initial;
    left: 0;
    height: 32px;
}

#project-name {
    width: auto;
    position: absolute;
    right: 0;
    left: 42px;
}

/* Code Editor */

#main .ace-tm .ace_line:not(:first-child) .ace_preproc.ace_define::after,
#main .ace-tm .ace_line:not(:first-child) .ace_preproc.ace_section::after,
#main .ace-tm .ace_line:not(:first-child) .ace_preproc.ace_event::after {
    top: -1px;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #171717;
}

/* Tweak jsdoc definitions */
#main .ace-tm .ace_comment.ace_doc + .ace_comment.ace_meta ~ :not(.ace_comment) {
    color: #5b9099 !important;
}
