/* General */

.treeview .dir > .header {
    color: #9a9a9a;
}

.treeview .dir > .header, .treeview .item {
    font-size: 14px;
}

.treeview .dir .header, .treeview .item, .treeview .items {
    border-left-color: #444;
}

/* Item padding */

.treeview {
    padding: 2px;
}

.treeview .items {
    padding-left: 14px;
}

/* Icons */

.treeview .dir > .header:before,
.treeview .item:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    background-image: none;
    width: auto;
    height: 16px;
    font-size: 120%;
    margin-right: 4px;
    color: #566e84;
}

/* Outline View */
.treeview [outline-def] .item:before,
.treeview [outline-ctx] .item:before {
    content: "";
    width: 16px;
}

/* Resource Tree */

#tree-td .treeview .dir > .header:before,
#tree-td .treeview .item:before {
    content: "\f059";
}

#tree-td .treeview .item[data-thumb]:before {
    content: "";
    width: 16px;
}

#tree-td .treeview .item[data-kind="project"]:before, #tree-td .treeview .item:not([data-kind]):before { /* Project + Blank */
    content: "";
}

#tree-td .treeview .dir > .header:not([data-thumb]):before { /* Closed Folder */
    content: "\f07b";
    color: #757575;
}

#tree-td .treeview .dir.open > .header:not([data-thumb]):before { /* Open Folder */
    content: "\f07c";
    color: #757575;
}

#tree-td .treeview .dir:not(.is-empty) > .header:not([data-thumb]):before { /* Non-empty Folder */
    font-weight: 900;
}

#tree-td .treeview .dir.open > .header:not([data-thumb]):before { /* Open Folder */
    content: "\f07c";
    color: #757575;
}

#tree-td .treeview .item[data-kind="sprite"]:not([data-thumb]):before { /* Sprite */
    font-weight: 900;
    content: "\f53f";
}

#tree-td .treeview .item[data-kind="tileset"]:not([data-thumb]):before { /* Tileset */
    font-weight: 900;
    content: "\f009";
}

#tree-td .treeview .item[data-kind="sound"]:not([data-thumb]):before { /* Sound */
    font-weight: 900;
    content: "\f001";
}

#tree-td .treeview .item[data-kind="path"]:not([data-thumb]):before { /* Path */
    font-weight: 900;
    content: "\f362";
}

#tree-td .treeview .item[data-kind="script"]:not([data-thumb]):before { /* Script */
    font-weight: 900;
    content: "\f70e";
}

#tree-td .treeview .item[data-kind="shader"]:not([data-thumb]):before { /* Shader */
    font-weight: 900;
    content: "\f042";
}

#tree-td .treeview .item[data-kind="font"]:not([data-thumb]):before { /* Shader */
    font-weight: 900;
    content: "\f031";
}

#tree-td .treeview .item[data-kind="timeline"]:not([data-thumb]):before { /* Timeline */
    content: "\f254";
}

#tree-td .treeview .item[data-kind="object"]:not([data-thumb]):before { /* Object */
    font-weight: 900;
    content: "\f1b2";
}

#tree-td .treeview .item[data-kind="roomccs"]:not([data-thumb]):before { /* Rooms Creation Codes */
    content: "\f2d2";
}

#tree-td .treeview .item[data-kind="room"]:not([data-thumb]):before { /* Room */
    content: "\f2d0";
}

#tree-td .treeview .item[data-kind="notes"]:not([data-thumb]):before { /* Note */
    content: "\f249";
}

#tree-td .treeview .dir[data-rel-path="Extensions/"] > .items > .dir > .header { /* Extension */
    color: inherit;
}

#tree-td .treeview .dir[data-rel-path="Extensions/"] > .items > .dir > .header:not([data-thumb]):before { /* Closed Extension */
    font-weight: 900;
    content: "\f65e";
    color: #566e84;
}

#tree-td .treeview .dir[data-rel-path="Extensions/"] > .items > .dir.open > .header:not([data-thumb]):before { /* Open Extension */
    content: "\f07c";
    color: #566e84;
}

#tree-td .treeview .item[data-kind="windowsoptions"]:not([data-thumb]):before { /* Windows Options */
    font-family: "Font Awesome 5 Brands";
    content: "\f17a";
}

#tree-td .treeview .item[data-kind="macoptions"]:not([data-thumb]):before { /* Mac Options */
    font-family: "Font Awesome 5 Brands";
    content: "\f179";
}

#tree-td .treeview .item[data-kind="linuxoptions"]:not([data-thumb]):before { /* Linux Options */
    font-family: "Font Awesome 5 Brands";
    content: "\f17c";
}

/* Local Asset Folders */

#tree-td .treeview .dir > .header[title^="__"]:before,
#tree-td .treeview .dir > .header[title$="_ext"]:before,
#tree-td .treeview .dir.open > .header[title^="__"]:before,
#tree-td .treeview .dir.open > .header[title$="_ext"]:before {
    color: #9a3d3d;
}