#orpheus-search-wrapper {
    position: relative;
    background-color: #2d2d2d;
    border-bottom: 1px solid #404040;
}

#orpheus-search-wrapper .search-box-icon {
    position: absolute;
    top: 7px;
    left: 3px;
    color: #737373;
    pointer-events: none;
}

#orpheus-search-wrapper .ace_search {
    position: relative;
    color: #666;
    overflow: hidden;
    padding: 3px;
    margin: 0;
    white-space: normal;
    border-radius: 0;
}

#orpheus-search-wrapper .ace_search_form, .ace_replace_form {
    position: relative;
    margin: 0 20px 0 0;
    overflow: hidden;
    line-height: 1.9;
}

#orpheus-search-wrapper .ace_search_field {
    border-radius: 0;
    min-height: initial;
    font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    max-width: 50%;
    padding: 2px 2px 2px 20px;
    border: 1px solid #6d6d6d;
    background-color: #222222;
    color: #C0C0C0;
    outline-color: #419caf;
    vertical-align: baseline;
}

#orpheus-search-wrapper .ace_search_form.ace_nomatch .ace_search_field {
    background-color: #983131;
}

#orpheus-search-wrapper .ace_searchbtn {
    background: #464646;
    display: inline-block;
    cursor: pointer;
    margin-left: 3px;
    position: relative;
    padding: 1px 5px;
    font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    border: 1px solid #737373;
    color: #737373;
}
#orpheus-search-wrapper .ace_searchbtn i {
    pointer-events: none;
}

#orpheus-search-wrapper .ace_searchbtn:disabled {
    color: #484747;
    border: 1px solid #484848;
}
#orpheus-search-wrapper .ace_searchbtn:hover {
    background-color: #eef1f6;
    color: #000;
}

#orpheus-search-wrapper .ace_searchbtn_close {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAcCAYAAABRVo5BAAAAZ0lEQVR42u2SUQrAMAhDvazn8OjZBilCkYVVxiis8H4CT0VrAJb4WHT3C5xU2a2IQZXJjiQIRMdkEoJ5Q2yMqpfDIo+XY4k6h+YXOyKqTIj5REaxloNAd0xiKmAtsTHqW8sR2W5f7gCu5nWFUpVjZwAAAABJRU5ErkJggg==) no-repeat 50% 0;
    border-radius: 50%;
    border: 0 none;
    color: #656565;
    cursor: pointer;
    font: 16px/16px Arial;
    padding: 0;
    height: 14px;
    width: 14px;
    top: 9px;
    right: 7px;
    position: absolute;
}
#orpheus-search-wrapper .ace_searchbtn_close:hover {
    background-color: #656565;
    background-position: 50% 100%;
    color: white;
}

#orpheus-search-wrapper .ace_button {
    margin-left: 2px;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    padding: 1px;
    box-sizing: border-box !important;
    font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    color: #737373;
    line-height: 1;
    border: 0;
}

#main #orpheus-search-wrapper .ace_search .ace_button:hover {
    background: transparent;
}

#orpheus-search-wrapper .ace_button::before {
    content: "X";
    width: 16px;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 3px;
    position: relative;
    padding: 1px 0;
    text-align: center;
    background-color: #424242;
    border: 1px solid #737373;
    color: #424242;
}

#orpheus-search-wrapper .ace_button.checked::before {
    color: #FFF;
}

.ace_searchbtn.prev:after, .ace_searchbtn.next:after {
    content: none;
}

#orpheus-search-wrapper .ace_search_options{
    display: inline-block;
    user-select: none;
    margin: 0;
}
#orpheus-search-wrapper .ace_search_counter {
    font-family: arial;
    margin: 0 20px;
    font-weight: 700;
    float: right;
}