/* Override old layout */
.orpheus-tabs .splitter-td[splitter-element="#tree-td"] { margin-top: 36px; }

.orpheus-tabs .chrome-tabs.project-name { margin-right: -5px; }

.orpheus-tabs #tabs .chrome-tabs-content { display: none; }

.orpheus-tabs .chrome-tabs .chrome-tabs-bottom-bar { height: 1px; }

.orpheus-tabs .bottom.gml { flex: 1; }

.orpheus-tabs #main #editor-td {
    display: flex;
    flex-flow: column;
}

.orpheus-tabs .resinfo.sprite {
    height: 100%;
}

.orpheus-tabs .bottom.gml > div { height: 100%; }

/* Orpheus Tabs*/
#orpheus-tab-wrapper {
    position: relative;
    z-index: 1;
    background-color: #FFF1;
    display: flex;
    flex-wrap: wrap;
}

#orpheus-tab-wrapper::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #505050;
    box-shadow: 0 -0.05em rgba(0, 0, 0, 0.5);
}

#orpheus-tab-wrapper, .orpheus-tab {
    -webkit-app-region: no-drag;
    user-select: none;
    cursor: default;
}

.orpheus-tab {
    position: relative;
    background-color: #3e3e3e;
    color: #FFF;
    border: 1px solid #666;
    margin-right: -1px;
    margin-bottom: -1px;
    display: inline-block;
    padding: 6px 20px 6px 12px;
    font-size: 12px;
}

.orpheus-tab:hover {
    background-color: #484848;
}

.orpheus-tab-close {
    position: absolute;
    right: 2px;
    top: 50%;
    margin-top: -7px;
    content: '';
    color: #FFF;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-image: url('data:image/svg+xml;utf8,<svg viewPort="0 0 11 11" version="1.1" xmlns="http://www.w3.org/2000/svg"> <line x1="3" y1="8" x2="8" y2="3" stroke="white" stroke-width="1.5"/> <line x1="3" y1="3" x2="8" y2="8" stroke="white" stroke-width="1.5"/> </svg>');
    background-position: 1px 1px;
    background-repeat: no-repeat;
    opacity: .6;
}

.orpheus-tab-close:hover {
    background-color: #a94141;
    opacity: 1;
}

.orpheus-tab-ghost {
    background-color: #FFF2;
    color: transparent;
}

.orpheus-tab-ghost .orpheus-tab-close {
    visibility: hidden;
}

.orpheus-tab-drag {
    background-color: #484848;
    opacity: 1 !important;
}

.orpheus-tab-current, .orpheus-tab-current:hover {
    background-color: #5f5f5f;
}

.orpheus-tab-current:not(.orpheus-tab-ghost)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 2px;
    background-color: #419caf;
}

.orpheus-tab-changed {
    color: #a6d1ff;
}

.orpheus-tab-idle {
    color: #ffffff59;
    border: 1px solid #66666659;
    background-color: #3e3e3e59;
}

.orpheus-tab-pinned {
    padding-right: 12px;
}

.orpheus-tab-pinned::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    right: 0;
    background-color: #c1753f;
}

.orpheus-tab-pinned > .orpheus-tab-close {
    display: none;
}