#outline-view .outline-item[outline-ctx^="#region"] > .header:before {
	background: url(orpheus-outline-view-icons.png) -22px -2px no-repeat !important;
}

.outline-item[outline-data="function"] > .header:before {
	background: url(orpheus-outline-view-icons.png) -2px -99px no-repeat !important;
}

#outline-view .outline-dir.open > .header:not([data-ident]):hover::before {
	background-position: -142px -2px !important;
}

#outline-view .outline-dir:not(.open) > .header:not([data-ident]):hover::before {
	background-position: -122px -2px !important;
}